@use './../utils/index' as u;

.button {
	background: u.color(neutral-white);
	backface-visibility: hidden;
	border: u.rem(2) solid u.color(neutral-black);
	border-radius: u.rem(6);

	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-size: u.rem(16);
	font-weight: 700;
	line-height: 1.5;
	padding: u.rem(10) u.rem(18);

	text-decoration: none;
	transform: translateZ(0) scale(1);
	transition: transform .2s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button:not(:disabled):hover {
	transform: scale(1.05);
}

.button:not(:disabled):hover:active {
	transform: scale(1.05) translateY(.125rem);
}

.button:focus {
	outline: 0 solid transparent;
}

button:disabled {
	background: #aaa;
	cursor: not-allowed;
}

.button:focus:before {
	content: "";
	left: calc(-1*.375rem);
	pointer-events: none;
	position: absolute;
	top: calc(-1*.375rem);
	transition: border-radius;
	user-select: none;
}

.button:focus:not(:focus-visible) {
	outline: 0 solid transparent;
}

.button:focus:not(:focus-visible):before {
	border-width: 0;
}

.button:not(:disabled):active {
	transform: translateY(.125rem);
}

.app-button-primary-default {
	background: u.color(neutral-black);
	color: u.color(neutral-white);
	border: u.rem(2) solid u.color(neutral-black);
}

// .app-button-primary-default:hover{
// 	background: u.color(neutral-white);
// 	color: u.color(neutral-black);
// 	border: u.rem(2) solid u.color(neutral-black);
// 	transition: all 0.3s;
// }

.app-button-white-default {
	background: u.color(neutral-white);
	color: u.color(neutral-black);
	border: u.rem(2) solid transparent;
}

.app-button-white-default:hover {
	border: u.rem(2) solid u.color(neutral-black);
	transition: all 0.3s;
}